{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "云管平台",
    "description": "云管平台",
    "termsOfService": "",
    "contact": {
      "url": "http://www.alltosea.com"
    }
  },
  "host": "demo.onpre.cn:7014",
  "basePath": "/api",
  "paths": {
    "/api/Advisory": {
      "post": {
        "tags": [
          "Advisory"
        ],
        "summary": "提交咨询工单",
        "description": "",
        "operationId": "Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "advModel",
            "in": "body",
            "description": "咨询表单数据",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ProcessContext"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[Object]"
            }
          }
        }
      }
    },
    "/api/Advisory/excuInstance": {
      "post": {
        "tags": [
          "Advisory"
        ],
        "summary": "执行流程",
        "description": "请求格式\r\n{\r\n\"procid\":\"\", 实例id\r\n\"state\":\"\",  状态1通过2回退\r\n\"memo\":\"\".   备注-可无\r\n\"formdata\":\"\", 表单-可无\r\n\"isok\":\"\"     流程是否继续,（1继续0结束）\r\n}",
        "operationId": "PostExcu",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "context",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ProcessContext"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[ProcessContext]"
            }
          }
        }
      }
    },
    "/authorizationapi/v2/FileUpload/GetImgFile": {
      "get": {
        "tags": [
          "AuthorizationapiFileUpload"
        ],
        "summary": "图片请求",
        "operationId": "GetAsync",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "filePath",
            "in": "query",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/authorizationapi/v2/FileUpload/GetFile": {
      "get": {
        "tags": [
          "AuthorizationapiFileUpload"
        ],
        "summary": "文件请求",
        "operationId": "GetFileAsync",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "filePath",
            "in": "query",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Billing_Details/GetMoneyAndConfigurationStatistics": {
      "get": {
        "tags": [
          "Billing_Details"
        ],
        "summary": "查询各个运营商合计金额及配置数量汇总",
        "operationId": "GetMoneyAndConfigurationStatistics",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[IEnumerable[MoneyAndConfigurationStatistics]]"
            }
          }
        }
      }
    },
    "/api/Billing_Details/BillingSummarizing": {
      "get": {
        "tags": [
          "Billing_Details"
        ],
        "summary": "查询账单总览",
        "operationId": "GetBillingSummarizing",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "pageindex",
            "in": "query",
            "description": "当前页",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "页大小",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 20
          },
          {
            "name": "companyid",
            "in": "query",
            "description": "单位id",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyname",
            "in": "query",
            "description": "单位名称 支持模糊匹配",
            "required": false,
            "type": "string"
          },
          {
            "name": "modeofpayment",
            "in": "query",
            "description": "支付方式",
            "required": false,
            "type": "string"
          },
          {
            "name": "serviceprovider",
            "in": "query",
            "description": "服务商",
            "required": false,
            "type": "string"
          },
          {
            "name": "billingtime_begin",
            "in": "query",
            "description": "账期起始 201805",
            "required": false,
            "type": "string"
          },
          {
            "name": "billingtime_end",
            "in": "query",
            "description": "账期结束 201810",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[ValueTuple[PageData[ZWBilling_DetailsViewModel_summarize],String]]"
            }
          }
        }
      }
    },
    "/api/Billing_Details/BillingDetails": {
      "get": {
        "tags": [
          "Billing_Details"
        ],
        "summary": "查询账单明细",
        "operationId": "GetBillingDetails",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "pageindex",
            "in": "query",
            "description": "当前页",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "页大小",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 20
          },
          {
            "name": "companyid",
            "in": "query",
            "description": "单位id",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyname",
            "in": "query",
            "description": "单位名称 支持模糊匹配",
            "required": false,
            "type": "string"
          },
          {
            "name": "modeofpayment",
            "in": "query",
            "description": "支付方式",
            "required": false,
            "type": "string"
          },
          {
            "name": "serviceprovider",
            "in": "query",
            "description": "服务商",
            "required": false,
            "type": "string"
          },
          {
            "name": "billingtime_begin",
            "in": "query",
            "description": "账期起始 201805",
            "required": false,
            "type": "string"
          },
          {
            "name": "billingtime_end",
            "in": "query",
            "description": "账期结束 201810",
            "required": false,
            "type": "string"
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_fields",
            "in": "query",
            "description": "排序字段集合 示例: server_opentime desc 按服务商开通时间降序",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[ValueTuple[PageData[ZWBilling_DetailsViewModel_query],String]]"
            }
          }
        }
      }
    },
    "/api/Billing_Details/BillingDetailsList": {
      "get": {
        "tags": [
          "Billing_Details"
        ],
        "summary": "获取某资源的计费详情清单",
        "operationId": "GetBillingDetailsList",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "bdid",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[List[Billing_DetailsList]]"
            }
          }
        }
      }
    },
    "/api/Billing_Details/BillingDetailsExcel": {
      "get": {
        "tags": [
          "Billing_Details"
        ],
        "summary": "导出账单明细",
        "operationId": "GetBillingDetailsExcel",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "companyid",
            "in": "query",
            "description": "单位id",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyname",
            "in": "query",
            "description": "单位名称 支持模糊匹配",
            "required": false,
            "type": "string"
          },
          {
            "name": "modeofpayment",
            "in": "query",
            "description": "支付方式",
            "required": false,
            "type": "string"
          },
          {
            "name": "serviceprovider",
            "in": "query",
            "description": "服务商",
            "required": false,
            "type": "string"
          },
          {
            "name": "billingtime_begin",
            "in": "query",
            "description": "账期起始 201805",
            "required": false,
            "type": "string"
          },
          {
            "name": "billingtime_end",
            "in": "query",
            "description": "账期结束 201810",
            "required": false,
            "type": "string"
          },
          {
            "name": "ip",
            "in": "query",
            "description": "IP",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Billing_Details/BillingSummarizingExcel": {
      "get": {
        "tags": [
          "Billing_Details"
        ],
        "summary": "导出账单总览",
        "operationId": "GetBillingSummarizingExcel",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "companyid",
            "in": "query",
            "description": "单位id",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyname",
            "in": "query",
            "description": "单位名称 支持模糊匹配",
            "required": false,
            "type": "string"
          },
          {
            "name": "modeofpayment",
            "in": "query",
            "description": "支付方式",
            "required": false,
            "type": "string"
          },
          {
            "name": "serviceprovider",
            "in": "query",
            "description": "服务商",
            "required": false,
            "type": "string"
          },
          {
            "name": "billingtime_begin",
            "in": "query",
            "description": "账期起始 201805",
            "required": false,
            "type": "string"
          },
          {
            "name": "billingtime_end",
            "in": "query",
            "description": "账期结束 201810",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/BussinessSys/test": {
      "get": {
        "tags": [
          "BussinessSys"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/api/BussinessSys": {
      "get": {
        "tags": [
          "BussinessSys"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "BussinessSys"
        ],
        "operationId": "Put",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ZWBusinessSysModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "BussinessSys"
        ],
        "operationId": "Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ZWBusinessSysModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/BussinessSys/list": {
      "get": {
        "tags": [
          "BussinessSys"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "servicename",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sysname",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/BussinessSys/{id}": {
      "delete": {
        "tags": [
          "BussinessSys"
        ],
        "operationId": "Delete",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/CommonAuditRemark/{arid}": {
      "delete": {
        "tags": [
          "CommonAuditRemark"
        ],
        "summary": "删除常用审核意见",
        "operationId": "Delete",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "arid",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/CommonAuditRemark": {
      "get": {
        "tags": [
          "CommonAuditRemark"
        ],
        "summary": "获取常用审核意见",
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[List[ZW_CommonAuditRemark]]"
            }
          }
        }
      },
      "post": {
        "tags": [
          "CommonAuditRemark"
        ],
        "summary": "新增/修改常用审核意见",
        "operationId": "Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "viewData",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ZW_CommonAuditRemark_Add"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/Dept": {
      "get": {
        "tags": [
          "Dept"
        ],
        "summary": "获取机构树",
        "description": "查询：参数search\r\n{\"title\":\"东莞\"}",
        "operationId": "GetDept",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "unitId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageindex",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "search",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[List[dept]]"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Dept"
        ],
        "summary": "新增单位",
        "operationId": "Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "units",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/unitadd"
              }
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/Dept/list": {
      "get": {
        "tags": [
          "Dept"
        ],
        "summary": "获取单位列表",
        "description": "",
        "operationId": "GetDeptList",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "unitname",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageindex",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageData[unit]"
            }
          }
        }
      }
    },
    "/api/Dept/{id}": {
      "delete": {
        "tags": [
          "Dept"
        ],
        "summary": "删除单位",
        "operationId": "Del",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/Evaluate/test": {
      "get": {
        "tags": [
          "Evaluate"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/api/Evaluate/list": {
      "get": {
        "tags": [
          "Evaluate"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "servicename",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dept",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Evaluate": {
      "put": {
        "tags": [
          "Evaluate"
        ],
        "operationId": "Put",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ZWEvaluateModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Evaluate"
        ],
        "operationId": "Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ZWEvaluateModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Evaluate/{id}": {
      "delete": {
        "tags": [
          "Evaluate"
        ],
        "operationId": "Delete",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/ExpData/initdata": {
      "post": {
        "tags": [
          "ExpData"
        ],
        "summary": "",
        "operationId": "Post_initdata",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "",
            "required": false,
            "type": "file"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[String]"
            }
          }
        }
      }
    },
    "/api/ExpData/status": {
      "get": {
        "tags": [
          "ExpData"
        ],
        "summary": "查询错误信息列表",
        "operationId": "GetStatus",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[List[String]]"
            }
          }
        }
      }
    },
    "/api/ExpData/info": {
      "get": {
        "tags": [
          "ExpData"
        ],
        "summary": "查询调试信息列表",
        "operationId": "GetInfo",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[List[String]]"
            }
          }
        }
      }
    },
    "/api/FileUpload/GetFile": {
      "get": {
        "tags": [
          "FileUpload"
        ],
        "summary": "根据路径取文件（不过滤权限,但限制目录在 applyForFile  或 ArticleManagementAndHelpDocument 下）",
        "operationId": "GetFileAsync",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "filePath",
            "in": "query",
            "description": "文件路径",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/FileUpload/ObjFile/{filetype}": {
      "post": {
        "tags": [
          "FileUpload"
        ],
        "summary": "上传文件 支持多个",
        "description": "",
        "operationId": "Post",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "filetype",
            "in": "path",
            "description": "文件类型,1 其他文件, 2 图片文件",
            "required": true,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2
            ]
          },
          {
            "name": "file",
            "in": "formData",
            "description": "文件集合",
            "required": false,
            "type": "array",
            "items": {},
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[List[ProcessFile]]"
            }
          }
        }
      }
    },
    "/api/HelpDoc/List": {
      "get": {
        "tags": [
          "HelpDoc"
        ],
        "summary": "获取帮助文档列表",
        "operationId": "GetList",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "pageindex",
            "in": "query",
            "description": "当前页数",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "每页长度",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "search",
            "in": "query",
            "description": "搜索关键字  示例格式：{\"key1\":\"value1\",\"key2\":\"value2\"}",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "排序 示例格式：key1 asc,key2 desc",
            "required": false,
            "type": "string"
          },
          {
            "name": "isdel",
            "in": "query",
            "description": "是否为软删除",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[PagerData[HelpDocument]]"
            }
          }
        }
      }
    },
    "/api/HelpDoc/{id}": {
      "get": {
        "tags": [
          "HelpDoc"
        ],
        "summary": "获取帮助文档详细信息 根据文档id",
        "description": "获取帮助文档的详细数据",
        "operationId": "GetDetail",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "文档id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[HelpDocument]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "HelpDoc"
        ],
        "summary": "添加帮助文档",
        "description": "添加一篇帮助文档",
        "operationId": "PutAsync",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "formData",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ViewHelpDocumentEdit"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HelpDoc"
        ],
        "summary": "实际删除帮助文档",
        "description": "从数据库中彻底删除",
        "operationId": "Delete",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/HelpDoc/Catalog": {
      "get": {
        "tags": [
          "HelpDoc"
        ],
        "summary": "获取帮助文档目录",
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[Object]"
            }
          }
        }
      }
    },
    "/api/HelpDoc": {
      "post": {
        "tags": [
          "HelpDoc"
        ],
        "summary": "添加帮助文档",
        "description": "添加一篇帮助文档",
        "operationId": "PostAsync",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "formData",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ViewHelpDocumentAdd"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/HelpDoc/SoftDelete/{id}": {
      "put": {
        "tags": [
          "HelpDoc"
        ],
        "summary": "软删除/恢复   帮助文档",
        "description": "软删除/恢复",
        "operationId": "PutSoftDelete",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "formData",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ViewHelpDocumentSoftDelete"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/HelpDocument/Catalog": {
      "get": {
        "tags": [
          "HelpDocument"
        ],
        "summary": "获取帮助文档分类",
        "operationId": "GetCatalog",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[List[String]]"
            }
          }
        }
      }
    },
    "/api/HelpDocument/List": {
      "get": {
        "tags": [
          "HelpDocument"
        ],
        "summary": "获取帮助文档列表",
        "operationId": "GetList",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "hdtspreadhead",
            "in": "query",
            "description": "分类",
            "required": false,
            "type": "string"
          },
          {
            "name": "hdttitle",
            "in": "query",
            "description": "标题",
            "required": false,
            "type": "string"
          },
          {
            "name": "createtime_begin",
            "in": "query",
            "description": "发布时间_起始  格式(yyyy-MM-dd 或 yyyy/MM/dd)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "createtime_end",
            "in": "query",
            "description": "发布时间_结束  格式(yyyy-MM-dd 或 yyyy/MM/dd)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "pageindex",
            "in": "query",
            "description": "当前页",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "页大小",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 20
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[PageData[HelperdocumentListViewModel]]"
            }
          }
        }
      }
    },
    "/api/HelpDocument/{id}": {
      "get": {
        "tags": [
          "HelpDocument"
        ],
        "summary": "获取帮助文档详细信息 根据文档id",
        "description": "获取帮助文档的详细数据",
        "operationId": "GetAsync",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "文档id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[Helperdocumentmodel]"
            }
          }
        }
      }
    },
    "/api/IPPort/ipportlist": {
      "get": {
        "tags": [
          "IPPort"
        ],
        "summary": "获取端口访问",
        "description": " [{\r\n\t\"ip\": \"12.149.1.22\",\r\n\t\"slist\": null, //出\r\n\t\"dlist\": [{    //入\r\n\t\t\"ip\": \"192.168.1.2\",\r\n\t\t\"port\": \"1-65535\"\r\n\t}, {\r\n\t\t\"ip\": \"192.168.3.2\",\r\n\t\t\"port\": \"1-65535\"\r\n\t}, {\r\n\t\t\"ip\": \"192.168.0.194\",\r\n\t\t\"port\": \"1-65535\"\r\n\t}]\r\n}]",
        "operationId": "GetPortMappinglist",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[Object]"
            }
          }
        }
      }
    },
    "/api/Menu": {
      "get": {
        "tags": [
          "Menu"
        ],
        "summary": "菜单列表",
        "operationId": "GetList",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parentid",
            "in": "query",
            "description": "父级菜单ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "mark",
            "in": "query",
            "description": "菜单标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "菜单标题",
            "required": false,
            "type": "string"
          },
          {
            "name": "describe",
            "in": "query",
            "description": "菜单标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "isenable",
            "in": "query",
            "description": "是否启用",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pageindex",
            "in": "query",
            "description": "页码",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "页记录数",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[PageData[SysMenu]]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Menu"
        ],
        "summary": "修改菜单",
        "operationId": "Put",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "菜单实体",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SysMenuBase"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Menu"
        ],
        "summary": "添加菜单",
        "operationId": "Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "菜单实体",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SysMenuBase"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/Menu/{id}": {
      "get": {
        "tags": [
          "Menu"
        ],
        "summary": "菜单详情",
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "菜单ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[SysMenu]"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Menu"
        ],
        "summary": "删除菜单",
        "operationId": "Patch",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "节点Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/Menu/Up/{id}": {
      "patch": {
        "tags": [
          "Menu"
        ],
        "summary": "排序上移",
        "operationId": "TreeUpSortAsync",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "节点Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/Menu/Down/{id}": {
      "patch": {
        "tags": [
          "Menu"
        ],
        "summary": "排序下移",
        "operationId": "TreeDownSortAsync",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "节点Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/Monitor": {
      "get": {
        "tags": [
          "Monitor"
        ],
        "summary": "获取监控资源数据",
        "operationId": "GetMonitoringResources",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[List[MonitoringResourcesParam]]"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Monitor"
        ],
        "summary": "上传监控数据",
        "operationId": "Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/MonitoringResourcesResult"
              }
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/NoticeManagement": {
      "get": {
        "tags": [
          "NoticeManagement"
        ],
        "summary": "获取公告列表",
        "description": "权限条件，查询并返回数据列表",
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "pageindex",
            "in": "query",
            "description": "当前页数",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "每页长度",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ntitle",
            "in": "query",
            "description": "标题",
            "required": false,
            "type": "string"
          },
          {
            "name": "isenable",
            "in": "query",
            "description": "是否有效，0无效，1有效",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "state",
            "in": "query",
            "description": "审核状态，0未审核，1已审核 2审核中 3审核不通过",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "createtime_begin",
            "in": "query",
            "description": "发布时间_起始，格式：yyyy-mm-dd",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "createtime_end",
            "in": "query",
            "description": "发布时间_结束，格式：yyyy-mm-dd",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "manage",
            "in": "query",
            "description": "是否为管理页查询",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[PageData[ViewNoticeManagementList]]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "NoticeManagement"
        ],
        "summary": "修改公告",
        "operationId": "Put",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "formData",
            "in": "body",
            "description": "更新的数据",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ViewNoticeManagementEdit"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      },
      "post": {
        "tags": [
          "NoticeManagement"
        ],
        "summary": "增加公告",
        "description": "新增一条公告",
        "operationId": "Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "formData",
            "in": "body",
            "description": "新增的数据",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ViewNoticeManagementAdd"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/NoticeManagement/{id}": {
      "get": {
        "tags": [
          "NoticeManagement"
        ],
        "summary": "获取公告的详情",
        "description": "获取公告的详细数据",
        "operationId": "GetDetail",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "公告ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[NoticeManagementModel]"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "NoticeManagement"
        ],
        "summary": "删除公告",
        "description": "从数据库中删除",
        "operationId": "Delete",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "公告ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "NoticeManagement"
        ],
        "summary": "修改公告是否有效",
        "operationId": "Patch",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "formData",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ViewPatchParam"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/OverView/overviewtab": {
      "get": {
        "tags": [
          "OverView"
        ],
        "summary": "获取总览tab页的页头",
        "description": " 响应参数\r\n \r\n {\r\n \"code\": 0,\r\n \"msg\": \"\",\r\n \"data\": [\r\n   {\r\n     \"did\": \"0bfa7c90-70db-46ef-ba22-719ab1b57702\",\r\n     \"itemvalue\": \" \",\r\n     \"itemname\": \"总览\",\r\n     \"pid\": \"32edcf51-d93c-425f-bf8c-d2c9a0dbe047\"\r\n  }\r\n]\r\n }",
        "operationId": "GetOverviewTab",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[Object]"
            }
          }
        }
      }
    },
    "/api/OverView": {
      "get": {
        "tags": [
          "OverView"
        ],
        "summary": "获取数据",
        "description": "响应参数\r\n{\r\n\"code\": 0,\r\n\"msg\": \"\",\r\n \"data\": {\r\n    \"sysSum\": {   业务系统\r\n       \"total\": 0,   总数\r\n      \"percent\": 0,   百分比\r\n      \"data\": [     图表数据\r\n            {\r\n            \"COUNTS\": 14,       数量\r\n            \"MONTHS\": \"2019-08\"  日期\r\n     },\r\n     {\r\n           \"COUNTS\": 1,\r\n           \"MONTHS\": \"2019-09\"\r\n    }\r\n\r\n]\r\n },\r\n     \"todoCount\": 41 待办数\r\n },\r\n \"machineSum\": {  物理机虚拟机统计\r\n \"instanceSum\": {  实例\r\n     \"count\": 2,  数量\r\n      \"total\": 2   总数\r\n  },\r\n    \"virtualSum\": {\r\n      \"machine\": {  物理机\r\n        \"count\": 0,  数量\r\n         \"total\": 0   总数\r\n   },\r\n      \"virtual\": {   虚拟机\r\n         \"count\": 1,  数量\r\n        \"total\": 1   总数\r\n  },\r\n      \"cpus\": {       \r\n        \"virtual\": {  虚拟机\r\n          \"count\": 8,  数量\r\n           \"total\": 8  总数\r\n   },\r\n        \"physical\": {  物理机\r\n          \"count\": 0,\r\n          \"total\": 0\r\n   }\r\n   },\r\n       \"memory\": {  内存\r\n        \"virtual\": { 虚拟机\r\n           \"count\": 32768,\r\n           \"total\": 32768\r\n  },\r\n        \"physical\": { 物理机\r\n          \"count\": 0,\r\n         \"total\": 0\r\n }\r\n  },\r\n       \"disk\": {  硬盘\r\n        \"virtual\": { 虚拟机\r\n          \"count\": 512000,\r\n         \"total\": 512000\r\n },\r\n     \"physical\": { 物理机\r\n       \"count\": 0,\r\n       \"total\": 0\r\n }\r\n }\r\n }\r\n }\r\n }",
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "serviceprovider",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "time",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[Object]"
            }
          }
        }
      }
    },
    "/api/OverView/nInstance": {
      "get": {
        "tags": [
          "OverView"
        ],
        "summary": "获取创建实例数量",
        "description": " 响应参数\r\n {\r\n\"code\": 0,\r\n \"msg\": \"\",\r\n  \"data\": [\r\n    {\r\n      \"cloud\": 2, 虚拟机\r\n      \"database\": 26, 数据库\r\n      \"phyiscal\": 0, 物理机\r\n      \"port\": 0, 端口\r\n     \"title\": \"2019-09\" \r\n   },\r\n   {\r\n     \"cloud\": 35,\r\n     \"database\": 1,\r\n     \"phyiscal\": 0,\r\n     \"port\": 0,\r\n     \"title\": \"2019-08\"\r\n  }\r\n ]\r\n   }",
        "operationId": "GetNewInstance",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "serviceprovider",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "stime",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "etime",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "timeType",
            "in": "query",
            "description": "时间段名称，如今天（day）",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[Object]"
            }
          }
        }
      }
    },
    "/api/OverView/alarmdept": {
      "get": {
        "tags": [
          "OverView"
        ],
        "summary": "获取运营商里的单位某段时间内报警数",
        "description": "响应参数\r\n\r\n{\r\n\"code\": 0,\r\n\"msg\": \"\",\r\n\"data\": [\r\n  {\r\n    \"title\": \"审批协调科\", 单位名称\r\n    \"counts\": 8            报警次数\r\n  }\r\n]\r\n}",
        "operationId": "GetAlarmCountByDept",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "unitname",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "unitId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "serviceprovider",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "stime",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "etime",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "timeType",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[Object]"
            }
          }
        }
      }
    },
    "/api/OverView/alarmservice": {
      "get": {
        "tags": [
          "OverView"
        ],
        "summary": "获取运营商某段时间内报警数",
        "description": " 响应参数\r\n \r\n {\r\n \"code\": 0,\r\n\"msg\": \"\",\r\n\"data\": {\r\n  \"alarmtime\": [\r\n    {\r\n      \"count\": 0, 报警数\r\n      \"title\": \"2019-10-06\" 时间\r\n   },\r\n   {\r\n     \"count\": 0,\r\n     \"title\": \"2019-10-07\"\r\n   },\r\n   {\r\n    \"count\": 0,\r\n   \"title\": \"2019-10-08\"\r\n   }\r\n  ],\r\n \"alarmdept\": [ 部门报警数\r\n  {\r\n    \"title\": \"东莞银行股份有限公司\",\r\n    \"counts\": 2\r\n  }\r\n  ]\r\n }\r\n  }",
        "operationId": "GetAlarmByServiceProvider",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "unitname",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "unitId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "serviceprovider",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "stime",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "etime",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "timeType",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[Object]"
            }
          }
        }
      }
    },
    "/api/OverView/analysis": {
      "get": {
        "tags": [
          "OverView"
        ],
        "summary": "单位使用资源情况",
        "description": " 响应参数\r\n \r\n {\r\n\"code\": 0,\r\n \"msg\": \"\",\r\n  \"data\": [\r\n    {\r\n      \"changecounts\": 0, 变更工单数\r\n      \"createcounts\": 1, 创建工单数\r\n     \"recoverycounts\": 0, 回收工单数\r\n     \"total\": 1, 总申请数\r\n    \"companyname\": \"东莞市\", 单位名称\r\n     \"serviceprovider\": \"中国移动\", 服务商\r\n     \"runningresource\": 1, 运行中数量\r\n     \"unitid\": \"764c858f-42a0-4a2e-8f84-9a5abec2f772\" 单位id\r\n   }\r\n]\r\n}",
        "operationId": "GetResourceTotalInfo",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "unitid",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "unitname",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "servieprovider",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "stime",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "etime",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageindex",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[Object]"
            }
          }
        }
      }
    },
    "/api/OverView/resourceUseInfo": {
      "get": {
        "tags": [
          "OverView"
        ],
        "summary": "根据单位，获取运营商资源使用情况",
        "description": " 响应参数\r\n \r\n{\r\n\"code\": 0,\r\n \"msg\": \"\",\r\n \"data\": [\r\n   {\r\n    \"recovery\": 0, 回收数量\r\n    \"running\": 1, 运行中数量\r\n     \"total\": 1, 总资源数\r\n    \"companyname\": \"东莞市\", 单位名称\r\n    \"unitid\": \"764c858f-42a0-4a2e-8f84-9a5abec2f772\" 单位id\r\n   }\r\n ]\r\n}",
        "operationId": "GetResourceUserInfo",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "unitid",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "unitname",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "serviceprovider",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "stime",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "etime",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageindex",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[Object]"
            }
          }
        }
      }
    },
    "/api/OverView/maintenance": {
      "get": {
        "tags": [
          "OverView"
        ],
        "summary": "运维统计",
        "description": " 响应参数\r\n \r\n \r\n{\r\n  \"code\": 0,\r\n  \"msg\": \"\",\r\n  \"data\": {\r\n    \"consulcount\": 1,  咨询数量        \r\n   \"fault\": {  资源故障数量\r\n     \"yd\": {\r\n         \"cloud\": { 虚拟机\r\n              \"count\": 0,\r\n              \"percent\": 0\r\n         },\r\n         \"phyiscal\": { 物理机\r\n              \"count\": 0,\r\n              \"percent\": 0\r\n         },\r\n         \"database\": { 数据库\r\n              \"count\": 0,\r\n              \"percent\": 0\r\n         }\r\n      }\r\n   },\r\n   \"consultrate\": \"8时\"  \r\n   }\r\n   }",
        "operationId": "GetMaintenanceInfo",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[Object]"
            }
          }
        }
      }
    },
    "/api/OverView/auditrate": {
      "get": {
        "tags": [
          "OverView"
        ],
        "summary": "获取审批时长",
        "description": "响应参数\r\n\r\n{\r\n\"code\": 0,\r\n\"msg\": \"\",\r\n\"data\": {\r\n  \"serviceprovider\": [ 服务商响应时间(秒）\r\n    {\r\n        \"title\": \"2019-10-28\",\r\n        \"text\": 1557\r\n    }\r\n  ],\r\n  \"supervisor\": [{  审核部门时间（秒）\r\n    {\r\n        \"title\": \"2019-10-28\",\r\n        \"text\": 1557\r\n    }\r\n  ],\r\n  \"deppartmentrank\": { 部门审批时长\r\n     \"supervisor\": [审批时长\r\n       {\r\n         \"vals\": \"1分36秒\", 时长\r\n         \"name\": \"未知\"     部门名称\r\n  }\r\n    ],\r\n    \"serviceprovider\": [运营商响应速度\r\n      {\r\n        \"vals\": \"58秒\",\r\n        \"name\": \"未知\"\r\n  }\r\n   ]\r\n  }\r\n   }\r\n   }",
        "operationId": "GetAuditRateMonth",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "stime",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "etime",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "timeType",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[Object]"
            }
          }
        }
      }
    },
    "/api/OverView/dealtime": {
      "get": {
        "tags": [
          "OverView"
        ],
        "summary": "获取处理时长",
        "operationId": "GetDealTime",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "topn",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[Object]"
            }
          }
        }
      }
    },
    "/api/P_IP_Area": {
      "get": {
        "tags": [
          "P_IP_Area"
        ],
        "summary": "全查询 IP-区域对应表",
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "aid",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[List[P_IP_AreaViewModel_Query]]"
            }
          }
        }
      },
      "post": {
        "tags": [
          "P_IP_Area"
        ],
        "summary": "新增/修改 IP-区域",
        "operationId": "Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/P_IP_AreaViewModel_AddRange"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "P_IP_Area"
        ],
        "summary": "删除 IP-区域",
        "operationId": "Delete",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "aid",
            "in": "query",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/P_IP_Rule": {
      "get": {
        "tags": [
          "P_IP_Rule"
        ],
        "summary": "全查询 IP端口规则表",
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "s_area_names",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "t_area_names",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[List[P_IP_RuleViewModel_GroupQuery]]"
            }
          }
        }
      },
      "post": {
        "tags": [
          "P_IP_Rule"
        ],
        "summary": "新增/修改 IP端口规则表",
        "operationId": "Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/P_IP_RuleViewModel_add"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "P_IP_Rule"
        ],
        "summary": "删除 IP端口规则表",
        "operationId": "Delete",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "aid",
            "in": "query",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          }
        }
      }
    },
    "/api/P_IP_Rule/{rid}": {
      "get": {
        "tags": [
          "P_IP_Rule"
        ],
        "summary": "查询单个 IP端口规则表",
        "operationId": "GetOne",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "rid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[P_IP_RuleViewModel_add]"
            }
          }
        }
      }
    },
    "/api/P_IP_Rule/GroupColumn": {
      "get": {
        "tags": [
          "P_IP_Rule"
        ],
        "summary": "获取排序列",
        "operationId": "GetGroupColumn",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[List[P_IP_RuleViewModel_GroupColumn]]"
            }
          }
        }
      }
    },
    "/api/Performance/resourceload": {
      "get": {
        "tags": [
          "Performance"
        ],
        "summary": "资源实例负载状态查询",
        "operationId": "ResourceLoad",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "resourceResId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[ResourceLoadResult]"
            }
          }
        }
      }
    },
    "/api/Performance/cpuusage": {
      "get": {
        "tags": [
          "Performance"
        ],
        "summary": "查询CPU使用率",
        "operationId": "cpuusage",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "serviceprovider",
            "in": "query",
            "description": "服务商：1电信、2移动",
            "required": false,
            "type": "string"
          },
          {
            "name": "departmentid",
            "in": "query",
            "description": "单位ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "resourceResId",
            "in": "query",
            "description": "资源实例ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "resourceCategory",
            "in": "query",
            "description": "告警项id",
            "required": false,
            "type": "string"
          },
          {
            "name": "beginTime",
            "in": "query",
            "description": "自定义开始时间",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "自定义截止时间",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "timetype",
            "in": "query",
            "description": "时间类型：day今日，week本周，month本月",
            "required": false,
            "type": "string",
            "default": "day"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[UsageReportReSult]"
            }
          }
        }
      }
    },
    "/api/Performance/diskusage": {
      "get": {
        "tags": [
          "Performance"
        ],
        "summary": "查询磁盘使用率",
        "operationId": "diskusage",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "serviceprovider",
            "in": "query",
            "description": "服务商：1电信、2移动",
            "required": false,
            "type": "string"
          },
          {
            "name": "departmentid",
            "in": "query",
            "description": "单位ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "resourceResId",
            "in": "query",
            "description": "资源实例ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "resourceCategory",
            "in": "query",
            "description": "告警项id",
            "required": false,
            "type": "string"
          },
          {
            "name": "beginTime",
            "in": "query",
            "description": "自定义开始时间",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "自定义截止时间",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "timetype",
            "in": "query",
            "description": "时间类型：day今日，week本周，month本月",
            "required": false,
            "type": "string",
            "default": "day"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[UsageReportReSult]"
            }
          }
        }
      }
    },
    "/api/Performance/memoryusage": {
      "get": {
        "tags": [
          "Performance"
        ],
        "summary": "查询内存使用率",
        "operationId": "memoryusage",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "serviceprovider",
            "in": "query",
            "description": "服务商：1电信、2移动",
            "required": false,
            "type": "string"
          },
          {
            "name": "departmentid",
            "in": "query",
            "description": "单位ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "resourceResId",
            "in": "query",
            "description": "资源实例ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "resourceCategory",
            "in": "query",
            "description": "告警项id",
            "required": false,
            "type": "string"
          },
          {
            "name": "beginTime",
            "in": "query",
            "description": "自定义开始时间",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "自定义截止时间",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "timetype",
            "in": "query",
            "description": "时间类型：day今日，week本周，month本月",
            "required": false,
            "type": "string",
            "default": "day"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access token]",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Result[UsageReportReSult]"
            }
          }
        }
      }
    },
    "/api/Performance/network": {
      "get": {
        "tags": [
          "Performance"
        ],
        "summary": "查询网络性能",
        "description": "指标类型\r\n虚拟机（4个指标）：\r\nindicatorid=562958543552537，网络流入流速(下行)，单位：KB/s；\r\nindicatorid=562958543552538，网络流入流速(上行)，单位：KB/s；\r\nindicatorid=562958543552550，网络丢包百分比，单位：%；\r\nindicatorid=562958543552539，网络平均带宽，单位：KB/s；\r\n物理机（5个指标）：\r\nindicatorid=1407379178717195，网络流入流速(下行)，单位：KB/s；\r\nindicatorid=1407379178717196，网络流入流速(上行)，单位：KB/s；\r\nindicatorid=1407379178717197，网络丢包百分比，单位：%；\r\nindicatorid=1407379178717198，网络接收包率，单位：num/s；\r\nindicatorid=1407379178717199，网络发送包率，单位：num/s；",
        "operationId": "network",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "serviceprovider",
            "in": "query",
            "description": "服务商：1电信、2移动",
            "required": false,
            "type": "string"
          },
          {
            "name": "departmentid",
            "in": "query",
            "description": "单位ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "resourceResId",
            "in": "query",
            "description": "资源实例ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "resourceCategory",
            "in": "query",
            "description": "告警项id",
[...]
